.drag-card {
    max-width: 200px;
    margin-bottom: 25px;
}

.btn-more{
    margin: 0 auto;
}

.drag-card-checbox{
    margin-left: 0!important;
}

.align-button__right{
    justify-content: flex-end;
}